@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body{
    background-color: rgb(33, 147, 223);
    font-family: 'Poppins', serif;
}
h1{
    font-size: 500%;
    margin-bottom: 5%;
    margin-top: 20%;
}

.agrandar{
    width: 50%;
    height: 300%;
    font-size: 400%;
}